body{background-color:#8A5CDB}

.srodek{text-align:center; text-color:#566FE8;margin-left: auto; margin-right: auto; font-size:20pt;background-color:#BA5AF2;height: 100px;width: 300px;}

.pierw{color:blue; left:0px; top:0px; position:relative; width: 500px;}
.grid-container {
  display: grid;
   grid-template-rows: 100px 300px ; 
   grid-template-areas:
    'dumbledore Grindelwald Voldemort Moody Snape Minerva Bellatrix '
    'blank obraz obraz obraz obraz obraz blank1';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.obraz1{grid-area: dumbledore; background-color: pink;}
.obraz2{grid-area: Grindelwald; background-image:URL(obr/Grindelwald.png);}
.obraz3{grid-area: Voldemort; background-image: URL(obr/Voldemort.png);}
.obraz{grid-area: obraz; background-color: pink;}
.obraz4{grid-area: Moody; background-image: URL(obr/dumbledore.jpg);}
.obraz5{grid-area: Snape; background-image:URL(obr/Grindelwald.png);}




.obraz6{grid-area: Minerva; background-image: pink;}
.obraz7{grid-area: Bellatrix; background-image: red;}



.pusto{grid-area: blank; background-color: #8A5CDB;}
.pusto1{grid-area: blank1; background-color: #8A5CDB;}